.DS_Store
/target
*.log
imgs/*.png
/*.sqlite
/*.sqlite.bak*
.vscode
.drake
report.html
temporal-index-*.gz
/.datasets
/check
paper/__latexindent_temp.pdf
notes.md
.direnv
docs/param-dependency.csv
docs/query-focus.csv
paper/images
temporal-index.zip
todo.txt
